main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  width: 30%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#signin div:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#signin input {
  padding: 10px;
  outline: none;
  background: #ffffff;
  border: none;
  border-radius: 5px;
}

#signin button {
  border: none;
  padding: 10px;
  background: #ffb8b8;
  border-radius: 5px;
  color: #fff;
  font-weight: 800;
  font-size: 25px;
}

p {
  text-align: end;
}
